* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://www.teahub.io/photos/full/259-2597321_high-resolution-tomatoes-on-a-vine.png);
  margin: 2em;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin: 1.3em 0em 0em 0em;
  padding: 1em;
  background-color: #f04e48;
}

main {
  width: min(90vw, 800px);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 2em 0em 7em;
  background-color: #f04e48;
  flex-wrap: wrap;
}

.focus {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

p {
  font-size: 3.5em;
}

button {
  margin: 3em 1em 3em 1em;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 1em;
  border: none;
  background-color: #8859c2;
  color: white;
  font-weight: bold;
  opacity: 1;
  font-size: 1em;
  transition: transform 0.2s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
